@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    display: flex;
}

.left {
    background-image: url("parrot.jpg");
    background-size: 40vw 100vh;
    height: 100vh;
    --left-width: 40vw;
    width: var(--left-width);
    display: flex;
    position: relative;
    flex-direction: column;
}

footer {
    position: absolute;
    bottom: 0;
    width: var(--left-width);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(243, 249, 248);
}

.header {
    background-color: rgb(54, 54, 54, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(243, 249, 248);
    font-size: 3rem;
    height: 12vh;
    position: relative;
    top: 28rem;
}

.right {
    display: flex;
    background-color: rgb(235, 235, 235);
    --right-width: 60vw;
    width: var(--right-width);
    flex-direction: column;
}

#inputs {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 20px;
    padding-bottom: 45px;
    box-shadow: 0 5px 10px rgb(175, 175, 175);
    align-items: center;
    justify-content: center;
}

#inputsText {
    display: flex;
    flex-direction: column;
}

#containOne, #containTwo, #containThree {
    display: flex;
    padding: 10px;
    gap: 6rem;
}

#para {
    margin: 10rem 3rem 5rem 2rem;
}

section>section {
    display: flex;
    flex-direction: column;
}

input {
    border: 2px solid rgb(182, 182, 182, 0.4);
    border-radius: 6px;
}

#log {
    color: rgb(255, 187, 0);
    font-weight: 700;
}

button {
    padding: 10px 30px;
    border: rgb(235, 235, 235);
    background-color: rgb(255, 187, 0);
    border-radius: 10px;
}

#account {
    padding: 30px;
}

input:focus {
    box-shadow: 1px 2px 5px rgb(175, 175, 175);
    border-color: rgb(18, 99, 237);
    outline: none;
}

input:invalid {
    border-color: rgb(244, 50, 50);
}